# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
first = pd.Series(np.random.randint(low=1, high=4, size=100))
second = pd.Series(np.random.randint(low=1, high=3, size=100))
third = pd.Series(np.random.randint(low=10000, high=30000, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [15]:
house_market = pd.concat([first, second, third], axis=1)

house_market.head()

   0  1      2
0  3  1  11745
1  3  1  27104
2  2  2  20499
3  3  1  23966
4  1  1  23234

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [6]:
house_market.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

house_market

    bedrs  bathrs  price_sqr_meter
0       3       1            11745
1       3       1            27104
2       2       2            20499
3       3       1            23966
4       1       1            23234
..    ...     ...              ...
95      2       1            27861
96      1       2            12380
97      3       2            15802
98      2       2            19945
99      3       1            22074

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [8]:
df = pd.DataFrame(pd.concat([first, second, third]), columns=['bigcolumn'])

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [14]:
df.index.size

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [11]:
df.reset_index(inplace=True)
df

     level_0  index  bigcolumn
0          0      0          3
1          1      1          3
2          2      2          2
3          3      3          3
4          4      4          1
..       ...    ...        ...
295      295     95      27861
296      296     96      12380
297      297     97      15802
298      298     98      19945
299      299     99      22074

[300 rows x 3 columns]